/* Copyright (c) 2017, Andrew. All rights reserved. Use of this source code
   is governed by a BSD-style license that can be found in the LICENSE file. */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import url('/resources/icons/material-icons.css');
@import url('/resources/fonts/fonts.css');

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 0;
  padding: 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
