@import "../colors.styl"
@import "../mixins.styl"

p
  horizontal-padding(10px)
  vertical-padding(3px)
  font-size 0.8em

.main
  horizontal-flex()
  align-items center
  color $text-color-gray
  transition-duration 0.2s
  transition-timing-function ease-in
  &:hover
    materialBoxShadow()
    background-color $action-color
    color $white-bg-color
    position relative
    z-index 99
