p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.8em;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #555760;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.main:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #5c80bc;
  color: #f1f2ee;
  position: relative;
  z-index: 99;
}
