@-moz-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@-o-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
