materialBoxShadow(level = 1)
  if level == 1
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  if level == 2
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  if level == 3
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  if level == 4
    box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  if level == 5
    box-shadow 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

vertical-padding(number)
  padding-top number
  padding-bottom number

horizontal-padding(number)
  padding-left number
  padding-right number

horizontal-margin(number)
  margin-left number
  margin-right number

vertical-margin(number)
  margin-top number
  margin-bottom number

top-border(width, color)
  border-top color width solid

dashed-top-border(width, color)
  border-top color width dashed

custom-top-border(width, color, style)
  border-top color width style

bottom-border(width, color)
  border-bottom color width solid

dashed-bottom-border(width, color)
  border-bottom color width dashed

custom-bottom-border(width, color, style)
  border-bottom color width style

left-border(width, color)
  border-left color width solid

right-border(width, color)
  border-right color width solid

horizontal-flex()
  display flex
  flex-direction row

vertical-flex()
  display flex
  flex-direction column