@import "../colors.styl"
@import "../mixins.styl"

.main
  vertical-flex()
  top-border(1px, $border-color)

.section
  horizontal-flex()
  align-items center

.name
  font-size 1.04em

.transport
  font-size 1.04em

.state
  font-size 1.04em

.progress-bar
  horizontal-padding(10px)

.content
  vertical-flex()
  & > cargo-panel:first-child
    custom-top-border(2px, $border-color, dotted)
  & > cargo-panel:nth-child(2n + 1)
    background-color $white-bg-color

p
  horizontal-padding(10px)
  vertical-margin(4px)
  font-size 0.9em
  color $text-color

