<div class="main">
    <div class="header">
        <div class="section">
            <p class="name">{{delivery.name}}</p>
            <p class="weight">{{delivery.transport.weight.toString() + " кг."}}</p>
            <p class="track">{{"из " + delivery.cargo.first.from + " в " + delivery.cargo.first.to}}</p>
        </div>
        <div class="section">
            <material-progress class="progress-bar" [activeProgress]="getProgressValue()" [secondaryProgress]="30"></material-progress>
        </div>
        <div class="section">
            <p class="transport">{{delivery.transport.name}}</p>
            <p class="state">{{delivery.transport.getTransportState()}}</p>
            <p class="path">{{delivery.track.currentDistance.round().toString() + "/" +
                delivery.track.endDistance.round().toString() +
                " км."}}</p>
        </div>
    </div>
    <div class="content">
        <cargo-panel *ngFor="let cargo of delivery.cargo" [cargo]="cargo"></cargo-panel>
    </div>
</div>