.main {
  display: flex;
  flex-direction: column;
  border-top: #4d5061 1px solid;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  font-size: 1.04em;
}
.transport {
  font-size: 1.04em;
}
.state {
  font-size: 1.04em;
}
.progress-bar {
  padding-left: 10px;
  padding-right: 10px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content > cargo-panel:first-child {
  border-top: #4d5061 2px dotted;
}
.content > cargo-panel:nth-child(2n + 1) {
  background-color: #f1f2ee;
}
p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0.9em;
  color: #30323d;
}
