<div class="main">
    <div class="header">
        <h4 class="title">История доставок</h4>
        <material-button clear-size><glyph icon="expand_less"></glyph></material-button>
    </div>
    <div class="content" #content>
        <history-panel *ngFor="let delivery of deliveries" [delivery]="delivery"></history-panel>
    </div>
</div>