<div class="main">
    <create-cargo></create-cargo>
    <logging-panel [logs]="getLogs()"></logging-panel>
    <deliveries-panel [deliveries]="getDeliveries()" ></deliveries-panel>
    <active-deliveries-panel [deliveries]="getActiveDeliveries()" ></active-deliveries-panel>
    <delivery-history-panel [deliveries]="getDeliveredDeliveries()" ></delivery-history-panel>
</div>