.main {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: min-content 1fr 1fr 1fr;
  grid-template-rows: 1fr 100%;
  grid-template-areas: "a b c d" "e b c d";
}
create-cargo {
  border-bottom: #4d5061 2px solid;
  grid-area: a;
}
logging-panel {
  grid-area: e;
}
deliveries-panel {
  border-left: #f1f2ee 6px solid;
  border-right: #f1f2ee 6px solid;
  grid-area: b;
}
active-deliveries-panel {
  border-left: #f1f2ee 6px solid;
  border-right: #f1f2ee 6px solid;
  grid-area: c;
}
delivery-history-panel {
  border-left: #f1f2ee 6px solid;
  grid-area: d;
}
create-cargo,
logging-panel,
deliveries-panel,
active-deliveries-panel,
delivery-history-panel {
  transition-duration: 0.2s;
  transition-timing-function: easy-in;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
create-cargo:hover,
logging-panel:hover,
deliveries-panel:hover,
active-deliveries-panel:hover,
delivery-history-panel:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 55;
  position: relative;
}
