@import "components/colors.styl"
@import "components/mixins.styl"

.main
  display: grid
  justify-content stretch
  align-content stretch
  grid-column-gap 15px
  grid-row-gap 15px
  grid-template-columns min-content 1fr 1fr 1fr
  grid-template-rows  1fr 100%
  grid-template-areas "a b c d" "e b c d"

create-cargo
  bottom-border(2px, $border-color)
  grid-area a

logging-panel
  grid-area e

deliveries-panel
  left-border(6px, $white-bg-color)
  right-border(6px, $white-bg-color)
  grid-area b

active-deliveries-panel
  left-border(6px, $white-bg-color)
  right-border(6px, $white-bg-color)
  grid-area c

delivery-history-panel
  left-border(6px, $white-bg-color)
  grid-area d

create-cargo, logging-panel, deliveries-panel, active-deliveries-panel, delivery-history-panel
  transition-duration 0.2s
  transition-timing-function easy-in
  materialBoxShadow()

  &:hover
    materialBoxShadow(3)
    z-index 55
    position relative