.main {
  display: flex;
  flex-direction: column;
  border-bottom: #4d5061 1px solid;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  font-size: 1.04em;
  color: #30323d;
}
.cargo {
  display: flex;
  flex-direction: column;
}
.cargo > cargo-panel:first-child {
  border-top: #4d5061 2px dotted;
}
.cargo > cargo-panel:nth-child(2n + 1) {
  background-color: #f1f2ee;
}
p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.9em;
  color: #555760;
}
