@import "../colors.styl"
@import "../mixins.styl"

.main
  vertical-flex()
  //justify-content space-between
  //align-content space-between

.header
  horizontal-flex()
  bottom-border(2px, $border-color)
  align-items center
  justify-content space-between
  background-color $white-bg-color

.title
  horizontal-padding(15px)

.logs
  vertical-flex()

  overflow-y scroll
  overflow-x hidden
  transition: background-color .8s;

  &::-webkit-scrollbar
    width 6px
    height 20px

  &::-webkit-scrollbar-track-piece
    background-color $white-bg-color

  &::-webkit-scrollbar-thumb
    height 6px
    border 4px solid $border-color
    background-clip padding-box
    background-color $white-bg-color

  &div::-webkit-scrollbar-button
    width 0
    height 0
    display none

  &div::-webkit-scrollbar-corner
    background-color transparent

  & > log-panel:nth-child(2n)
    background-color $white-bg-color

.footer
  horizontal-flex()
  top-border(2px, $border-color)
  background-color $white-bg-color
