<div class="main">
    <div class="header">
        <h4 class="title">Журнал</h4>
        <material-button clear-size (click)="removeAll()"><glyph icon="clear"></glyph></material-button>
    </div>
    <div class="logs" #content>
        <log-panel *ngFor="let log of logs" [log]="log"></log-panel>
    </div>
</div>