.main {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  border-bottom: #4d5061 2px solid;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2ee;
}
.title {
  padding-left: 15px;
  padding-right: 15px;
}
.logs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: background-color 0.8s;
}
.logs::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
.logs::-webkit-scrollbar-track-piece {
  background-color: #f1f2ee;
}
.logs::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid #4d5061;
  background-clip: padding-box;
  background-color: #f1f2ee;
}
.logsdiv::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.logsdiv::-webkit-scrollbar-corner {
  background-color: transparent;
}
.logs > log-panel:nth-child(2n) {
  background-color: #f1f2ee;
}
.footer {
  display: flex;
  flex-direction: row;
  border-top: #4d5061 2px solid;
  background-color: #f1f2ee;
}
