<div class="main">
    <div class="header">
        <h4 class="title">Активные доставки</h4>
        <material-button clear-size><glyph icon="expand_less"></glyph></material-button>
    </div>
    <div class="content" #content>
        <active-delivery-panel *ngFor="let delivery of deliveries" [delivery]="delivery"></active-delivery-panel>
    </div>
</div>