@import "../colors.styl"
@import "../mixins.styl"

.main
  vertical-flex()
  bottom-border(1px, $border-color)

.header
  horizontal-flex()
  align-items center

.section
  vertical-flex()
  flex-grow 1

.title
  font-size 1.04em
  color $text-color

.cargo
  vertical-flex()
  & > cargo-panel:first-child
    custom-top-border(2px, $border-color, dotted)
  & > cargo-panel:nth-child(2n + 1)
    background-color $white-bg-color

p
  horizontal-padding(10px)
  vertical-margin(2px)
  font-size 0.9em
  color $text-color-gray
