<div class="main">
    <div class="header">
        <div class="section">
            <div class="name">
                <p class="title">{{delivery.name}}</p>
            </div>
            <div class="track">
                <p class="content">{{"из " + delivery.cargo.first.from + " в " + delivery.cargo.first.to}}</p>
            </div>
        </div>
        <div class="section">
            <div class="transport">
                <p class="title">{{delivery.transport.name}}</p>
            </div>
            <div class="weight">
                <p class="content">{{delivery.getWeight().toString() + "/" +
                    delivery.transport.maxWeight.round().toString() + " кг."}}</p>
            </div>
        </div>
        <material-button clear-size (click)="remove()">
            <glyph icon="delete"></glyph>
        </material-button>
    </div>
    <div class="cargo">
        <cargo-panel *ngFor="let cargo of delivery.cargo" [cargo]="cargo"></cargo-panel>
    </div>
</div>