.main {
  display: flex;
  flex-direction: column;
}
.header {
  border-bottom: #4d5061 2px solid;
  background-color: #f1f2ee;
}
.title {
  padding-left: 15px;
  padding-right: 15px;
}
.content {
  padding: 10px;
}
.path {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
.cargo {
  display: flex;
  flex-direction: row;
}
.text {
  margin-right: 15px;
}
.type {
  display: flex;
  flex-direction: row;
}
.footer {
  display: flex;
  flex-direction: row;
  border-top: #4d5061 2px solid;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #f1f2ee;
}
material-button {
  color: #30323d;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #30323d;
}
