<div class="main">
    <div class="header">
        <div class="title"><h4>Добавить посылку</h4></div>
    </div>
    <div class="content">
        <div class="path">
            <material-input [(ngModel)]="from" label="Откуда"></material-input>
            <glyph icon="trending_flat" class="icon"></glyph>
            <material-input [(ngModel)]="to" label="Куда"></material-input>
        </div>
        <div class="cargo">
            <p class="text">Масса груза: </p>
            <material-input [(ngModel)]="weight" type="number" trailingText="кг." [rightAlign]="true"></material-input>
        </div>
        <p>Средство доставки:</p>
        <div class="type">
            <material-radio-group>
                <material-radio (click)="onTypeChange(null)" [checked]="true" value="null">Любое</material-radio>
                <material-radio (click)="onTypeChange(0)" value="0">Грузовик</material-radio>
                <material-radio (click)="onTypeChange(1)" value="1">Корабль</material-radio>
                <material-radio (click)="onTypeChange(2)" value="2">Самолёт</material-radio>
            </material-radio-group>
        </div>
    </div>
    <div class="footer">
        <material-button clear-size (click)="addCargo()">Добавить</material-button>
        <material-button clear-size><glyph icon="expand_less"></glyph></material-button>
    </div>
</div>