@import "../colors.styl"
@import "../mixins.styl"

$text = 'p,h1,h2,h3,h4,h5,h6,h7'

.main
  vertical-flex()

.header
  bottom-border(2px, $border-color)
  background-color $white-bg-color

.title
  horizontal-padding(15px)

.content
  padding 10px

.path
  horizontal-flex()
  align-items center

.icon
  horizontal-margin(10px)

.cargo
  horizontal-flex()

.text
  margin-right 15px

.type
  horizontal-flex()

.footer
  horizontal-flex()
  top-border(2px, $border-color)
  flex-direction row-reverse
  justify-content space-between
  background-color $white-bg-color

material-button
  color $text-color

{$text}
  color $text-color