.main {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation-name: reveal;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.main:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #5c80bc;
  color: #f1f2ee;
  position: relative;
  z-index: 99;
}
.main:hover material-button {
  opacity: 1;
}
.main[state="remove"] {
  opacity: 0;
  transform: translateY(-100px) scale(0);
}
.time {
  padding-left: 10px;
  padding-right: 10px;
}
.message {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  flex-shrink: 150;
}
material-button {
  opacity: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@-moz-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@-o-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
