<div class="main">
    <div class="time">{{log.getShortTime()}}</div>
    <div class="message">{{log.message}}</div>
    <material-button clear-size (click)="remove()">
        <glyph icon="clear"></glyph>
    </material-button>
</div>