@import "../colors.styl"
@import "../mixins.styl"

.main
  horizontal-flex()
  vertical-padding(5px)
  flex-wrap wrap
  align-items center
  transition all 0.5s cubic-bezier(.55, 0, .1, 1)
  //transition-duration 0.5s
  //transition-timing-function cubic-bezier(.55, 0, .1, 1)

  animation-name reveal
  animation-duration 0.2s
  animation-timing-function cubic-bezier(.55, 0, .1, 1)

  &:hover
    materialBoxShadow()
    background-color $action-color
    color $white-bg-color
    position relative
    z-index 99
    & material-button
      opacity 1

  &[state="remove"]
    opacity 0
    transform translateY(-100px) scale(0)

@keyframes reveal
  0%
    opacity 0
    transform translateY(100px) scale(0)
  100%
    opacity 1
    transform translateY(0px) scale(1)

.time
  horizontal-padding(10px)

.message
  vertical-padding(2px)
  horizontal-padding(10px)
  flex-shrink 150

material-button
  opacity 0
  transition-duration 0.2s
  transition-timing-function ease-in
