@import "../colors.styl"
@import "../mixins.styl"

.main
  vertical-flex()

.header
  horizontal-flex()
  bottom-border(2px, $border-color)
  background-color $white-bg-color
  align-items center
  justify-content space-between

.title
  horizontal-padding(15px)

.content
  vertical-flex()
  overflow-y auto
  overflow-x hidden
  transition: background-color .8s;

  &::-webkit-scrollbar
    width 6px
    height 20px

  &::-webkit-scrollbar-track-piece
    background-color $white-bg-color

  &::-webkit-scrollbar-thumb
    height 6px
    border 4px solid $border-color
    background-clip padding-box
    background-color $white-bg-color

  &div::-webkit-scrollbar-button
    width 0
    height 0
    display none

  &div::-webkit-scrollbar-corner
    background-color transparent

.footer
  horizontal-flex()
  background-color $white-bg-color



